-if @restaurant.errors.any?
  %div#errors_explanation
    %h2
      #{pluralize(@restaurant.errors.count, "error")} prohibited this restaurant from being saved:
    %ul
      - @restaurant.errors.full_messages.each do |message|
        %li
          = message

=form_for @restaurant do |form|
  =form.label :name, "Restaurant name"
  =form.text_field :name
  =form.label :cuisine
  =form.text_field :cuisine
  =form.label :description
  =form.text_field :description
  =form.submit
