%h1 Add new restaurant
=form_for @restaurant do |form|
  =form.label :name, "Restaurant name:", class:"restaurant_name"
  =form.text_field :name

  -#-form.label :cuisine
  -#-form.text_field :cuisine

  =form.submit
