%h1 Add new restaurant
=form_for @restaurant do |form|
  =form.label :name, "Restaurant name"
  =form.text_field :name
  -#=form.label :cuisine
  -#=form.text_field :cuisine
  -#=form.label :description
  -#=form.text_field :description

  =form.submit
